.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: rgb(100, 100, 100);
    grid-gap: 2px;
    color: white;
    width: fit-content;
}

.day-yacheyka {
    display: flex;
    flex-direction: row;
}

.days {
    display: grid;
    background-color: rgb(100, 100, 100);
    color: white;
    grid-gap: 2px;
    grid-template-columns: repeat(7, 1fr);
}

.days>div {
    border-bottom: 2px solid rgb(71, 71, 71);
    background-color: rgb(34, 34, 34);
}

.calendar-header {
    height: 20px;
    background-color: rgb(71, 71, 71);
    color: white;
}

.calendar-controls {
    display: flex;
    color: white;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.day {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: min-content;
    width: 140px;
    height: 80px;
    background-color: rgb(34, 34, 34);
}

div.weekend {
    background-color: rgb(53, 52, 52);
}

div.unselected-month {
    color: gray;
}

.current-day {
    background-color: red;
    border-radius: 50%;

}
.day-number{
    text-align: end;
    margin-left: 80%;
    margin-top: 1px;
}
.day-number > p {
    width: min-content;
    margin: 0;
    padding: 5px;

}



.calendar-container {
    border-radius: 8px;
    width: fit-content;
    border: 1px solid black;
    overflow: hidden;
}