@import "variables";
@import "pagination";
@import "select";
//@import "addUser";

.link-btn{
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.userList{
  width: 100%;
  &-controls{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: $color-light-dark;
    &-group{
      display: flex;
      justify-content: center;
      align-items: center;
      height: $control-group-height;
      &>*{
        margin: 0 5px;
      }
      &>span{
        color: $color-light;
      }
      .addUser{
        height: $control-group-height;
        background: $color-cyan;
        color: $color-light;
        &:hover{
          background: #019299;
        }
      }
      .exportXlsx{
        background: $color-silver;
        &:hover{
          background: $color-active;
        }
      }
    }
    .search_form{
      background: white;
      display: flex;
      align-items: center;
      height: 30px;
      width: 40%;
      input{
        width: 100%;
        height: inherit;
        outline: none;
        border: none;
        padding: 3px 20px;
      }
      .icon{
        width: 30px;
        color: $color-silver;
      }
    }
  }
  &-list{
    padding: 50px 0;
    width: 600px;
    margin: 100px auto;
    td, th{
      text-align: center;
    }
    .userItem{
      background: $color-silver;
      color: $color-dark;
      &:hover{
        background: $color-active;
      }
    }
  }
}