$color-dark: #222831;
$color-light-dark: #393E46;
$color-cyan: #00ADB5;
$color-light: #EEEEEE;
$color-silver: #D6D6D6;
$color-red: #F24C4C;

$color-active: #9a9a9a;

$font-size-default: 18px;
$font-size-header: 26px;

$control-group-height: 25px;